#footer p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.button {
  display: inline-block;
  padding: 9px 20px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 100%; }

html, body {
  height: 100%; }

body {
  background: #ffffff;
  color: #777777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #ed6f6d; }
  a:hover {
    color: #495565; }

b, strong, label, th {
  font-weight: 600; }

#container {
  min-height: 100%;
  position: relative; }

.fullwidth #body {
  padding-left: 0;
  padding-right: 0; }

#body {
  padding-top: 3rem;
  padding-bottom: 9rem; }

.default-animation, #body, .button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.padding-horiz, .fullwidth #header, .fullwidth #breadcrumbs, .fullwidth .blog-header, .fullwidth .blog-content-item, .fullwidth .blog-content-list, .fullwidth ul.pagination, .fullwidth #body > .modular-row, #body, #header, #footer {
  padding-left: 7rem;
  padding-right: 7rem; }
  @media only all and (max-width: 59.938em) {
    .padding-horiz, .fullwidth #header, .fullwidth #breadcrumbs, .fullwidth .blog-header, .fullwidth .blog-content-item, .fullwidth .blog-content-list, .fullwidth ul.pagination, .fullwidth #body > .modular-row, #body, #header, #footer {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only all and (max-width: 47.938em) {
    .padding-horiz, .fullwidth #header, .fullwidth #breadcrumbs, .fullwidth .blog-header, .fullwidth .blog-content-item, .fullwidth .blog-content-list, .fullwidth ul.pagination, .fullwidth #body > .modular-row, #body, #header, #footer {
      padding-left: 1rem;
      padding-right: 1rem; } }

.padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem; }

#header {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background-color: #252d35; }
  #header:after {
    content: "";
    display: table;
    clear: both; }
  #header .logo-surround {
    position: relative;
    float: left; }
  #header #logo {
    background: url(../images/logo.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    width: 255px;
    height: 50px;
    z-index: 2;
    position: relative; }
    @media only all and (min-width: 60em) and (max-width: 74.938em) {
      #header #logo {
        width: 220px;
        background-size: 220px; } }
  #header .logo-accent {
    position: absolute;
    z-index: 1;
    width: 36px;
    height: 36px;
    top: 14px;
    left: 219px;
    border-radius: 100%;
    background: #ed6f6d; }
    @media only all and (min-width: 60em) and (max-width: 74.938em) {
      #header .logo-accent {
        width: 30px;
        height: 30px;
        top: 13px;
        left: 190px; } }
  #header #navbar {
    font-size: 0.7rem;
    font-family: "Arial", "Helvetica", "Geneva", sans-serif;
    background: #f3f3f3;
    float: right;
    border-radius: 3px;
    margin-top: 0.5rem; }
    @media only all and (max-width: 59.938em) {
      #header #navbar {
        background: none;
        float: none;
        margin: 0; } }
    #header #navbar ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase; }
      #header #navbar ul li {
        float: left;
        position: relative; }
        #header #navbar ul li > a {
          display: inline-block;
          padding: 0 1.2rem;
          line-height: 2.8rem;
          color: rgba(51, 51, 51, 0.8);
          border-right: 1px solid #dfdfdf; }
          @media only all and (min-width: 60em) and (max-width: 74.938em) {
            #header #navbar ul li > a {
              padding: 0 0.8rem; } }
          #header #navbar ul li > a:after {
            font-family: "FontAwesome";
            content: "\f107";
            float: right;
            margin-left: 5px; }
          #header #navbar ul li > a:only-child:after {
            content: '';
            display: none; }
        #header #navbar ul li:first-child a {
          border-radius: 3px 0 0 3px; }
        #header #navbar ul li:last-child a {
          border-right: 0;
          border-radius: 0 3px 3px 0; }
        #header #navbar ul li.active > a {
          background: #ffffff;
          color: #333333;
          font-weight: bold; }
        #header #navbar ul li:hover > a {
          background: #ffffff;
          color: #333333; }
        #header #navbar ul li:hover > ul {
          display: list-item; }
      @media only all and (max-width: 59.938em) {
        #header #navbar ul {
          display: none; } }
      #header #navbar ul ul {
        display: none;
        position: absolute;
        top: 100%;
        background: #ed6f6d;
        border-radius: 3px;
        text-transform: none;
        font-size: 0.8rem; }
        #header #navbar ul ul li {
          float: none;
          position: relative; }
          #header #navbar ul ul li a {
            width: 160px;
            border: 0;
            border-radius: 0;
            color: #ffffff; }
            #header #navbar ul ul li a:after {
              font-family: "FontAwesome";
              content: "\f105";
              float: right; }
            #header #navbar ul ul li a:only-child:after {
              content: '';
              display: none; }
          #header #navbar ul ul li:first-child a {
            border-radius: 3px 3px 0 0; }
          #header #navbar ul ul li:last-child a {
            border-radius: 0 0 3px 3px; }
          #header #navbar ul ul li.active > a {
            background: #f39c9a;
            font-weight: normal; }
          #header #navbar ul ul li:hover > a {
            background: #f39c9a; }
        #header #navbar ul ul ul {
          left: 100%;
          top: 0; }
    #header #navbar .panel-activation {
      padding: 1rem;
      display: none;
      font-size: 1.8rem;
      cursor: pointer;
      float: right; }
      @media only all and (max-width: 59.938em) {
        #header #navbar .panel-activation {
          display: inline-block; } }

#footer {
  position: absolute;
  background: #313741;
  color: #aaaaaa;
  height: 6rem;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center; }
  #footer a:hover {
    color: #ffffff; }
  #footer p {
    margin: 0; }
    #footer p .fa {
      color: #ffffff; }

html, body, button, input, select, textarea, .pure-g, .pure-g [class*="pure-u"] {
  font-family: "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
  color: #444444; }

h1 {
  font-size: 3.2rem; }
  @media only all and (max-width: 47.938em) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
      margin-bottom: 2.5rem; } }

@media only all and (min-width: 48em) and (max-width: 59.938em) {
  h2 {
    font-size: 2.1rem; } }
@media only all and (max-width: 47.938em) {
  h2 {
    font-size: 2rem; } }

@media only all and (min-width: 48em) and (max-width: 59.938em) {
  h3 {
    font-size: 1.7rem; } }
@media only all and (max-width: 47.938em) {
  h3 {
    font-size: 1.6rem; } }

h4 {
  font-size: 1.35rem;
  border-bottom: 6px solid #e7e7e7; }
  @media only all and (min-width: 48em) and (max-width: 59.938em) {
    h4 {
      font-size: 1.35rem; } }
  @media only all and (max-width: 47.938em) {
    h4 {
      font-size: 1.25rem; } }

h1 {
  text-align: center; }

h1 + h2 {
  margin: -2rem 0 2rem 0;
  font-size: 1.8rem;
  line-height: 1;
  text-align: center;
  font-family: "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300; }
  @media only all and (min-width: 48em) and (max-width: 59.938em) {
    h1 + h2 {
      font-size: 1.6rem; } }
  @media only all and (max-width: 47.938em) {
    h1 + h2 {
      font-size: 1.5rem; } }

h2 + h3 {
  margin: 1rem 0 2rem 0;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  font-family: "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300; }

blockquote p {
  font-size: 1.1rem;
  color: #999; }
blockquote cite {
  display: block;
  text-align: right;
  color: #666;
  font-size: 1.2rem; }

blockquote > blockquote > blockquote {
  margin: 0; }
  blockquote > blockquote > blockquote p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-radius: 3px; }
  blockquote > blockquote > blockquote > p {
    margin-left: -40px;
    background: #FCF8F2;
    color: #df8a13; }
  blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -54px;
    background: #FDF7F7;
    color: #b52b27; }
  blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -68px;
    background: #F4F8FA;
    color: #28a1c5; }
  blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > p {
    margin-left: -82px;
    background: #F1F9F1;
    color: #3d8b3d; }

code,
kbd,
pre,
samp {
  font-family: "Courier", monospace;
  font-size: 0.9rem; }

code {
  background: #f9f2f4;
  color: #9c1d3d; }

pre {
  padding: 2rem;
  background: #f6f6f6;
  border: 1px solid #e7e7e7;
  border-radius: 3px; }
  pre code {
    color: #237794;
    background: inherit; }

hr {
  border-bottom: 4px solid #e7e7e7; }

.page-title {
  margin-top: -25px;
  padding: 25px;
  float: left;
  clear: both;
  background: #ed6f6d;
  color: #ffffff; }

.label {
  background: #ed6f6d;
  color: #ffffff;
  font-size: 90%;
  border-radius: 3px;
  display: inline-block;
  line-height: 100%;
  padding: 2px 4px;
  vertical-align: middle; }

body #breadcrumbs {
  padding-left: 0; }
  body #breadcrumbs a {
    padding: 0 0.3rem;
    font-size: 0.9rem; }
  body #breadcrumbs i {
    width: 10px;
    margin-left: 5px; }

fieldset {
  border: 1px solid #e7e7e7; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  background-color: white;
  border: 1px solid #e7e7e7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #cecece; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #ed6f6d;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(234, 89, 86, 0.7); }

.form-field .required {
  color: #F3443F;
  font-size: 3rem;
  line-height: 3rem;
  vertical-align: top;
  height: 1.5rem;
  display: inline-block; }

form .buttons {
  text-align: center; }
form input {
  font-weight: 400; }

table {
  border: 1px solid #e7e7e7;
  table-layout: auto; }

th {
  background: #f4f4f4;
  padding: 0.5rem; }

td {
  padding: 0.5rem;
  border: #e7e7e7; }

.button {
  background: #ed6f6d;
  color: #ffffff; }
  .button:hover {
    background: #495565;
    color: #ffffff; }
  .button:active {
    background: #1e232a; }

.sb-slidebar {
  background-color: #495565 !important; }

#panel {
  padding-top: 1rem;
  color: #ffffff; }
  #panel .navigation {
    list-style: none;
    padding: 0; }
    #panel .navigation li {
      border-bottom: 1px solid #525f71; }
      #panel .navigation li > a {
        color: #ffffff;
        display: block;
        padding: 0.5rem 1rem;
        font-weight: 600; }
        #panel .navigation li > a:hover {
          color: white;
          background-color: #3e4956; }
        #panel .navigation li > a:last-child {
          border-bottom: 0; }
      #panel .navigation li.active > a {
        background: #ed6f6d;
        color: #ffffff; }
        #panel .navigation li.active > a:hover {
          color: #ffffff; }
      #panel .navigation li:first-child {
        border-top: 1px solid #525f71; }
      #panel .navigation li ul {
        list-style: none;
        padding: 0; }
        #panel .navigation li ul li {
          border: 0 !important; }
          #panel .navigation li ul li a {
            color: #e6e6e6;
            padding: 0.5rem 1rem 0.5rem 2rem;
            font-size: 0.9rem; }
          #panel .navigation li ul li li a {
            padding-left: 3rem; }
            #panel .navigation li ul li li a li a {
              padding-left: 4rem; }

.blog-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #252d35;
  color: #f2f2f2;
  margin-top: -3rem; }
  .blog-header h1 {
    font-size: 3.5rem;
    margin-top: 0; }
    @media only all and (min-width: 48em) and (max-width: 59.938em) {
      .blog-header h1 {
        font-size: 3rem; } }
    @media only all and (max-width: 47.938em) {
      .blog-header h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2.5rem; } }
  .blog-header h1, .blog-header h2, .blog-header h3, .blog-header h4, .blog-header h5 {
    color: #f2f2f2; }
  .blog-header + .blog-content {
    padding-top: 3rem; }

.list-item {
  margin-bottom: 3rem; }
  .list-item:last-child {
    border-bottom: 0; }
  .list-item .list-blog-header {
    position: relative; }
    .list-item .list-blog-header h4 {
      border: none;
      font-size: 1.75rem;
      margin-bottom: 0.5rem; }
      .list-item .list-blog-header h4 a {
        color: #444444; }
        .list-item .list-blog-header h4 a:hover {
          color: #ed6f6d; }
  .list-item img {
    float: left;
    margin-top: 0.5rem;
    border-radius: 3px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem; }
  .list-item .list-blog-date {
    display: inline-block; }
    @media only all and (max-width: 47.938em) {
      .list-item .list-blog-date {
        display: block; } }

.list-blog-details {
  background: #ececec;
  padding: 0.5rem 1rem;
  font-size: 0.9rem; }
  .list-blog-details .tags {
    float: right; }
    @media only all and (max-width: 47.938em) {
      .list-blog-details .tags {
        float: none; } }
    .list-blog-details .tags a {
      background: none !important;
      padding: 0;
      margin-left: 5px;
      text-transform: capitalize;
      font-size: 0.9rem; }

.blog-content-item .list-blog-padding > p:nth-child(2) {
  font-size: 1.2rem; }

.tags a {
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  background: #ececec;
  border-radius: 3px;
  color: #777777; }
  .tags a:hover {
    background: #e7e7e7;
    color: #444444; }

.archives, .related-pages {
  padding: 0;
  list-style: none; }
  .archives li, .related-pages li {
    border-bottom: 1px solid #e7e7e7;
    line-height: 2rem; }
    .archives li:last-child, .related-pages li:last-child {
      border-bottom: 0; }

.related-pages li a {
  display: block; }
.related-pages .score {
  display: block;
  float: right;
  color: #999;
  font-size: 85%; }

.syndicate a {
  margin-bottom: 1rem; }

#sidebar {
  padding-left: 3rem; }
  @media only all and (max-width: 47.938em) {
    #sidebar {
      padding-left: 0; } }
  #sidebar .sidebar-content {
    margin-bottom: 3rem; }
    #sidebar .sidebar-content h4 {
      margin-bottom: 1rem; }
    #sidebar .sidebar-content p, #sidebar .sidebar-content ul {
      margin-top: 1rem; }

ul.pagination {
  margin: 0 auto 3rem; }

.prev-next {
  text-align: center; }

#error {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 6rem; }
  #error h1 {
    font-size: 5rem; }
  #error p {
    margin: 1rem 0; }

.modular .showcase {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #252d35;
  text-align: center;
  color: #f2f2f2;
  margin-top: -3rem; }
  .modular .showcase h1 {
    font-size: 3.5rem;
    margin-top: 0; }
    @media only all and (min-width: 48em) and (max-width: 59.938em) {
      .modular .showcase h1 {
        font-size: 3rem; } }
    @media only all and (max-width: 47.938em) {
      .modular .showcase h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2.5rem; } }
  .modular .showcase h1, .modular .showcase h2, .modular .showcase h3, .modular .showcase h4, .modular .showcase h5 {
    color: #f2f2f2; }
  .modular .showcase .button {
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    background: #ed6f6d;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 0.9rem;
    line-height: 1; }
    .modular .showcase .button:hover {
      background: #495565; }

.modular .features {
  padding: 3rem 0;
  text-align: center; }
  .modular .features:after {
    content: "";
    display: table;
    clear: both; }
  .modular .features h2 {
    margin: 0;
    line-height: 100%; }
  .modular .features p {
    margin: 1rem 0;
    font-size: 1.2rem; }
    @media only all and (max-width: 47.938em) {
      .modular .features p {
        font-size: 1rem; } }
  .modular .features .feature-items {
    margin-top: 2rem; }
    @supports not (flex-wrap: wrap) {
      .modular .features .feature-items {
        overflow: hidden; } }
  .modular .features .feature {
    display: block;
    float: left;
    width: 25%;
    vertical-align: top;
    margin-top: 2rem;
    margin-bottom: 1rem; }
    @media only all and (min-width: 30.063em) and (max-width: 47.938em) {
      .modular .features .feature {
        margin-top: 1rem;
        width: 50%; } }
    @media only all and (max-width: 30em) {
      .modular .features .feature {
        margin-top: 1rem;
        width: 100%; } }
    .modular .features .feature i.fa {
      font-size: 2rem;
      color: #ed6f6d; }
    .modular .features .feature h4 {
      margin: 0;
      font-size: 1.1rem;
      border: none; }
    .modular .features .feature p {
      display: inline-block;
      font-size: 1rem;
      margin: 0.2rem 0 1rem; }
  .modular .features.big {
    text-align: center; }
    .modular .features.big .feature {
      width: 50%; }
      @media only all and (max-width: 30em) {
        .modular .features.big .feature {
          margin-top: 1rem;
          width: 100%; } }
    .modular .features.big i.fa {
      font-size: 2.9rem;
      float: left;
      width: 75px;
      line-height: 75px;
      border-radius: 7px;
      background: #ed6f6d;
      color: #ffffff; }
    .modular .features.big i.fa-cubes {
      padding-left: 4px; }
    .modular .features.big .feature-content {
      padding-right: 2rem; }
      .modular .features.big .feature-content.push {
        margin-left: 5.5rem; }
      .modular .features.big .feature-content h4 {
        font-size: 1.3rem;
        text-align: left; }
      .modular .features.big .feature-content p {
        padding: 0;
        text-align: left; }

.callout {
  background: #f6f6f6;
  padding: 3rem 0.938rem; }
  @media only all and (max-width: 59.938em) {
    .callout {
      text-align: center; } }
  .callout .align-left {
    float: left;
    margin-right: 2rem; }
    @media only all and (max-width: 59.938em) {
      .callout .align-left {
        float: none;
        margin-right: 0; } }
  .callout .align-right {
    float: right;
    margin-left: 2rem; }
    @media only all and (max-width: 59.938em) {
      .callout .align-right {
        float: none;
        margin-left: 0; } }
  .callout img {
    border-radius: 3px; }

.modular .modular-row:last-child {
  margin-bottom: 2rem; }

/*# sourceMappingURL=template.css.map */
