// Font Family
$font-family-default:  			"Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-menu:				"Arial", "Helvetica", "Geneva", sans-serif;
$font-family-mono: 				"Courier", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
