// Sizes
$footer-height: 		6rem;
$border-radius: 		3px;
$sidebar-width:     	250px;
$dropdown-width:		160px;

// Font Weights
$font-weight-bold: 		600;
$font-weight-regular: 	400;
$font-weight-light:		300;

// Global Paddings
$padding-horiz: 		7rem;
$padding-vert: 			3rem;
$panel-padding:     	2rem;
