%button {
	display: inline-block;
	padding: 9px 20px;
	font-size: $core-font-size - 0.2;
	font-weight: bold;
	border-radius: 3px;
	text-transform: uppercase;
    line-height: 100%;
}

@mixin button-color($bgcolor, $bghovercolor, $textcolor) {
	background: $bgcolor;
	color: $textcolor;
	&:hover {
		background: $bghovercolor;
		color: $textcolor;
	}
	&:active {
		background: darken($bghovercolor, 20%);
	}
}
