// Header styling

#header {
	@extend .padding-horiz;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: $header-height;
	background-color: $header-bg;

	// scroll based changes
	&.scrolled {

	}

	.logo-surround {
		position: relative;
	}

	#logo {
		float: left;
		background: url(../images/logo.png) 50% 50% no-repeat;
		display: block;
		width: 254px;
		height: 50px;
		z-index: 2;
		position: relative;
		@include breakpoint(desktop-range) {
			width: 220px;
			background-size: 220px;
		}
	}

	.logo-accent {
		position: absolute;
		z-index: 1;
		width: 36px;
		height: 36px;
		top: 14px;
		left: 219px;
		border-radius: 100%;
		background: $core-accent;
		@include breakpoint(desktop-range) {
			width: 30px;
			height: 30px;
			top: 17px;
			left: 190px;
		}
	}

	#navbar {
		font-size: $core-font-size - 0.3rem;
		font-family: $font-family-menu;
		background: $navbar-bg;
		float: right;
		border-radius: $border-radius;
		@extend %vertical-align;
		@include breakpoint(tablet-range) {
			background: none;
			float: none;
		}
		@include breakpoint(mobile-only) {
			background: none;
			float: none;
		}
		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
			float: right;
			text-transform: uppercase;
			li {
				float: left;
				position: relative;

				a {
					display: inline-block;
					padding: 0 1.2rem;
					line-height: 2.8rem;
					color: rgba($navbar-text, 0.8);
					border-right: 1px solid darken($navbar-bg, 8%);
					@include breakpoint(desktop-range) {
						padding: 0 0.8rem;
					}
				}

				&:first-child {
					a {
						border-radius: $border-radius 0 0 $border-radius;
					}
				}

				&:last-child {
					a {
						border-right: 0;
						border-radius: 0 $border-radius $border-radius 0;
					}
				}

				&.active {
					a {
						background: #fff;
						color: $navbar-text;
						font-weight: bold;
					}
				}
				&:hover {
					a {
						background: #fff;
						color: $navbar-text;
					}
				}

			}
			@include breakpoint(desktop-only) {
				display: none;
			}
		}

		.panel-activation {
			@extend %vertical-align;
			display: none;
			font-size: 2rem;
			cursor: pointer;
			float: right;
			@include breakpoint(desktop-only) {
				display: inline-block;
			}
		}

	}

}

// Header Image
.header-image {
    &.fullwidth {
        #body {
            padding-left: 0;
            padding-right: 0;

            >.listing-row {
                padding-left: $padding-horiz;
                padding-right: $padding-horiz;
            }
        }
    }
    .listing-row:last-child {
    	margin-bottom: 2rem;
    }

    #body {
        >.blog-header {
            margin-top: - $header-height - $padding-vert - 1.5rem;
            padding-top: $header-height + 4rem;
        }
    }

    #breadcrumbs {
    	margin-top: 1rem;
    }

}
